@import "tailwindcss";

:root {
  --background: #18181b; /* industrial dark gray/zinc-900 */
  --foreground: #ededed;
}

@theme inline {
  --color-m-files-blue: #005495;
  --color-safety-orange: #FF8200;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #18181b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

